{%  schema  %} 
    {
        "name": "New Brand Collection",
        "settings": [],
        "blocks": [],
        "presets": [
            {
                "name": "New Brand Collection"
            }
        ]
    }
{% endschema %}
<section class="full-width max-w-[1300px] mx-auto px-6">

    <!-- Header -->
    <div class="max-w-[1240px] flex justify-between items-center py-4 px-4">

        <h2 class="text-lg font-semibold">
            Brand New For You
        </h2>

        <div class="flex gap-2">
            <button>←</button>
            <button>→</button>
        </div>

    </div>

    <!-- Cards -->
    <div class="max-w-[1240px] grid grid-cols-1 md:grid-cols-3 md:gap-2 lg:grid-cols-4 gap-2 px-4">

        <div class="bg-gray-100 max-w-[290px] flex flex-col gap-4">
            
            <p class="bg-secondary w-full h-[230px]">Image</p>
            <h3 class="text-base font-bold font-inter">Zumac Steel Computer Case</h3>
            <p class="text-sm font-inter text-[#666666]">And an option to upgrade every three years</p>
            <button class="text-xs text-secondary font-medium border border-secondary rounded-lg w-[123px] h-[34.5px]">Shop Now</button>
        </div>

    </div>
    

</section>